.page-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-searching {
  border: solid 2px black;
  border-radius: 10px;
  width: 250px;
  height: 50px;
  font-family: "Nunito Sans";
  font-size: 15px;
  font-weight: bold;
  justify-content: center;
  text-align: left;
  padding-left: 15px;
}

/* .search-button{
  background-color: rgba(207, 35, 56, 1);
  font-family: "Nunito Sans";
  font-size: 15px;
  font-weight: bold;
  border: solid 2px transparent;
  border-radius: 10px;
  width: 80px;
  height: 50px;
  cursor: pointer;
  color: white;
  transition: 0.2s;
} */

.search-bar {
  position: relative;
}

.search-icon {
  position: absolute;
  left: 235px;
  top: 15px;
}

.page-filter {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.page-filter-left {
  display: flex;
  flex-basis: 35%;
}

.page-filter-left div {
  margin-right: 10px;
}

.page-filter-right {
  display: flex;
  align-items: center;
}

.page-filter-right * {
  margin-left: 20px;
}
