.sidebar-container {
  position: absolute;
  display: flex;
  width: 250px;
  max-width: 250px;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: rgba(0, 0, 0, 0); */
  background-color: white;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  max-width: 220px;
}

.sidebar-links a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  margin-left: 30px;
  margin-top: 15px;
  padding: 15px;
  transition: 0.2s;
  font-weight: bold;
  border-radius: 10px;
}

.sidebar-links a:hover {
  background-color: rgba(207, 35, 56, 1);
  transition: 0.2s;
  color: white;
}

.sidebar-links i {
  margin-right: 10px;
}

.sidebar-logo {
  display: flex;
  justify-content: center;
  padding: 0 !important;
}

.sidebar-logo:hover {
  background-color: transparent !important;
}

.sidebar-logo img {
  max-width: 100px;
  margin-bottom: 20px;
}

.sidebar-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
